<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GB_ServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GB_ServerManager.Properties.Settings>
            <setting name="SteamCMDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseSrvrPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseMigrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value />
            </setting>
        </GB_ServerManager.Properties.Settings>
    </userSettings>
</configuration>